@charset "UTF-8";
a:hover{
    text-decoration: none;
}
h1{
    font-weight: bold;
    font-size: x-large;
}
h2{
    font-weight: bold;
    font-size: large;
}
h3{
    font-weight: bold;
    font-size: medium;
}
.choosed_title{
    color: #0044cc;
    border-bottom: 2px solid blue;
    padding: 2px 4px;
}
.register{
    height: 56px;
    font-size: medium;
}
.register_input{
    height: 30px;
    width: 300px;
}
.validate_code{
    height: 126px;
    font-size: medium;
}
.validate_code_input{
    height: 40px;
    width: 300px;
}
.bottom_area{
    position: absolute;
    left:50%; 
    transform:translate(-50%);
    font-size: medium;
    width: 50px;
    height: 26px;
    line-height: 26px;
    color:#FFFFFF;
    font-weight: bold;
    background-color: #0066cc;
    padding: 8px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.input-bootom{
    font-size: medium;
    width: 100px;
    height: 40px;
    color:#FFFFFF;
    background-color: #0066cc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border:none;
}
